body {
    height: 100vh;
    overflow-y: hidden;
}

.slider-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 1280px;
    overflow: hidden;
}

.slider-bottom {
    display: flex;
    flex-direction: row;
}
.slider__controls {

}
.img_first {
    transition: 2s;
    transform: translateX(100vw);

}
label {

}
.label__first {
    display: none;
}
.label__second {
    display: none;
}
.label__third {
    display: none;
}
.label__fourth {
    display: none;
}

#first:checked ~ .label__first {
    display: block;
}

#first:checked ~ img[src="./assets/img/leo.jpg"] {
    display: block;
    transform: translateX(0vw);
}

#second:checked ~ .label__second {
    display: block;
}

#third:checked ~ .label__third {
    display: block;
}

#fourth:checked ~ .label__fourth {
    display: block;
}